main {
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main p {
    margin-top: 0;
    
}

iframe {
    padding-top: 10px;
    padding-bottom: 10px;
}
.gallery_box_single {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: darkgray;
    border-radius: 5px;
    border-width: thin;
    box-shadow: 4px 4px rgba(169, 169, 169, 0.459);

}
.img p {
    margin-top: 10px;
}
.img img {
    border-style: solid;
    border-color: darkgray;
    border-width: thin;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: darkgray;
    border-radius: 5px;
    border-width: thin;
    box-shadow: 4px 4px rgba(169, 169, 169, 0.459);
}