nav {
  border-style: solid;
  border-width: thin;
  border-color: darkslategrey;
  box-shadow: darkslategrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
  }
  
nav ul li {
    float: left;
  }
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav ul li a:hover {
    background-color: goldenrod;
    color: white;
    transition: 0.3s;
  }
  .active {
    background-color: darkgoldenrod;
    color: darkslategrey;
  }